html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

/* Breakpoints */
/* Grid breakpoints */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, article,
div, ul, li, p {
  display: block;
  position: relative;
}

span, a {
  position: relative;
}

ol, ul {
  list-style: none;
}

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

.main a {
  text-decoration: underline;
}

.outlineHelper * {
  outline: 1px dotted rgba(186, 119, 119, 0.2);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  color: #000;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@media screen and (min-width: 640px) {
  html {
    overflow-x: auto;
  }
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  line-height: 1em;
  color: #464646;
  overflow-x: hidden;
}

@media screen and (min-width: 640px) {
  body {
    overflow-x: auto;
  }
}

.mainColumn {
  padding: 0 15px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .mainColumn {
    width: 1200px;
    margin: auto;
    padding: 0 30px;
  }
}

.hd_primary {
  margin-bottom: 10px;
}

@media screen and (min-width: 640px) {
  .hd_primary {
    margin-bottom: 30px;
  }
}

.hd_secondary {
  margin-bottom: 10px;
}

@media screen and (min-width: 640px) {
  .hd_secondary {
    margin-bottom: 20px;
  }
}

.hd_tertiary {
  margin-bottom: 10px;
}

@media screen and (min-width: 640px) {
  .hd_tertiary {
    margin-bottom: 10px;
  }
}

.fs_primary {
  line-height: 1em;
  font-size: 22px;
}

@media screen and (min-width: 640px) {
  .fs_primary {
    font-size: 40px;
  }
}

.fs_secondary {
  line-height: 1em;
  font-size: 26px;
}

@media screen and (min-width: 640px) {
  .fs_secondary {
    font-size: 34px;
  }
}

.fs_tertiary {
  line-height: 1em;
  font-size: 22px;
}

@media screen and (min-width: 640px) {
  .fs_tertiary {
    font-size: 24px;
  }
}

.fs__smallPrint {
  margin: 6px 0;
  line-height: 1.4em;
  font-size: 13px;
}

@media screen and (min-width: 640px) {
  .fs__smallPrint {
    font-size: 15px;
  }
}

.cm_primary {
  color: #464646;
}

.cm_secondary {
  color: #45b7b7;
}

.cm_tertiary {
  color: #348286;
}

.main p {
  line-height: 1.4em;
}

@media screen and (min-width: 640px) {
  .main p {
    line-height: 1.5em;
  }
}

.main p + p {
  margin-bottom: 20px;
}

.columns {
  margin-bottom: 15px;
}

@media screen and (min-width: 640px) {
  .columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 640px) {
  .columns .col6 {
    width: 50%;
  }
}

.columns img {
  width: 100%;
}

.columns .col--centerTxt {
  padding: 10px 0;
}

@media screen and (min-width: 640px) {
  .columns .col--centerTxt {
    padding: 100px 70px 70px;
  }
}

.columns .col--centerTxt:nth-child(odd) {
  padding-left: 0;
}

.columns .col--centerTxt:nth-child(even) {
  padding-right: 0;
}

@media screen and (min-width: 640px) {
  .columns.reverseCols {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .columns.reverseCols .col--centerTxt {
    padding-left: 0;
    padding-right: 70px;
  }
}

strong {
  font-weight: 700;
}

.header {
  border-bottom: 1px solid #464646;
}

@media screen and (min-width: 640px) {
  .header .mainColumn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__logo {
  display: block;
  width: 115px;
  height: 50px;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: contain;
    -o-background-size: contain;
       background-size: contain;
}

@media screen and (min-width: 640px) {
  .header__logo {
    width: 170px;
    height: 70px;
  }
}

.nav {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: #45b7b7;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: -o-transform .3s ease;
  -moz-transition: transform .3s ease, -moz-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease, -moz-transform .3s ease, -o-transform .3s ease;
}

@media screen and (min-width: 640px) {
  .nav {
    margin: 0 0 0 auto;
    position: relative;
    left: auto;
    width: 65%;
    height: auto;
    background: none;
  }
}

.nav--menu_open {
  -webkit-transform: translateX(-100%);
     -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
       -o-transform: translateX(-100%);
          transform: translateX(-100%);
}

.nav__burgerBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 2px solid #45b7b7;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  background: none;
  cursor: pointer;
}

@media screen and (min-width: 640px) {
  .nav__burgerBtn {
    display: none;
  }
}

.nav__burgerBtn span {
  display: block;
  margin: auto;
  width: 14px;
  height: 3px;
  background-color: #45b7b7;
  -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
          border-radius: 100px;
}

.nav__burgerBtn span:nth-child(2) {
  margin: 2px auto;
  width: 18px;
}

.nav__close_mobile_menu {
  margin: 16px 0 30px 16px;
  width: 34px;
  height: 34px;
  border: 2px solid #fff;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  cursor: pointer;
}

.nav__close_mobile_menu span {
  display: block;
  width: 18px;
  height: 3px;
  top: 13px;
  left: 6px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav__close_mobile_menu span:nth-child(2) {
  top: 10px;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (min-width: 640px) {
  .nav__close_mobile_menu {
    display: none;
  }
}

@media screen and (min-width: 640px) {
  .nav__list-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__list-container li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.nav__list-container a {
  display: block;
  padding: 14px 10px 14px 40px;
  text-decoration: none;
  text-align: left;
  color: #fff;
}

@media screen and (min-width: 640px) {
  .nav__list-container a {
    padding: 28px 20px;
    color: #464646;
    text-align: center;
  }
}

@media screen and (min-width: 1080px) {
  .nav__list-container a:hover {
    background-color: #464646;
    color: #fff;
  }
}

.nav__list-container a.active {
  background-color: #464646;
  color: #fff;
}

.main {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
     -moz-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.footer {
  padding: 0 0 15px;
}

@media screen and (min-width: 640px) {
  .footer {
    padding: 0 0 30px;
  }
}

.footer__titleBlock {
  padding: 15px 0;
  background-color: #464646;
  color: #fff;
}

@media screen and (min-width: 640px) {
  .footer__titleBlock {
    padding: 30px 0;
  }
}

.footer__phoneNumbers {
  margin: 30px 0;
}

.footer__phoneNumbers a {
  display: block;
  margin: 10px 0 18px;
}

@media screen and (min-width: 640px) {
  .footer__phoneNumbers a {
    display: inline;
    margin: 0 40px 0 0;
  }
}

.footer__pageLinks {
  margin: 0 0 30px 0;
}

.footer__pageLinks a {
  display: block;
  color: #000;
  text-decoration: underline;
  margin: 0 0 20px 0;
}

@media screen and (min-width: 640px) {
  .footer__pageLinks a {
    display: inline;
    margin: 0 40px 0 0;
  }
}

.hero {
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
}

@media screen and (min-width: 640px) {
  .hero {
    margin-bottom: 70px;
  }
}

.hero--img-home, .hero--img-home-mobile {
  background-image: url("../img/welcomeHero.png");
}

@media screen and (max-width: 544px) {
  .hero--img-home-mobile {
    margin: 0 0 10px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: -12% top;
    -moz-background-size: 200%;
      -o-background-size: 200%;
         background-size: 200%;
  }
}

@media screen and (max-width: 544px) {
  .hero.hero--img-home {
    background-image: none;
    background-color: #ececec;
  }
}

.hero__homepageTitle {
  padding-bottom: 15px;
}

@media screen and (min-width: 640px) {
  .hero__homepageTitle {
    padding: 150px 10% 50px 30%;
  }
}
